In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Parties.csv"
parties_df = pd.read_csv(file_loc)
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,PARTY_DRUG_PHYSICAL,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,...,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,CHP_VEH_TYPE_TOWING,CHP_VEH_TYPE_TOWED,RACE,INATTENTION,SPECIAL_INFO_F,SPECIAL_INFO_G,ACCIDENT_YEAR
0,90655491,1.0,1,Y,M,26.0,B,-,S,M,...,2004.0,NISSAN,A,8.0,NaN,H,NaN,NaN,NaN,2018.0
1,90721682,1.0,1,Y,F,30.0,A,-,S,L,...,2008.0,HYUN,A,1.0,NaN,B,NaN,-,-,2018.0
2,90721682,2.0,1,N,F,41.0,A,-,S,M,...,2017.0,BMW,A,7.0,NaN,W,NaN,-,-,2018.0
3,90600484,1.0,1,Y,M,70.0,A,-,E,M,...,1998.0,FORD,D,22.0,NaN,B,NaN,-,-,2017.0
4,90600484,2.0,3,N,-,998.0,H,H,W,-,...,2015.0,NISS,A,1.0,NaN,NaN,NaN,-,-,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2.0,1,N,M,33.0,A,-,N,M,...,2017.0,NISS,A,7.0,NaN,O,NaN,-,-,2019.0
469068,91151686,3.0,1,N,M,31.0,A,-,N,M,...,2010.0,TOYT,A,1.0,NaN,O,NaN,-,-,2019.0
469069,91151686,4.0,1,N,M,37.0,A,-,N,M,...,2016.0,ACUR,A,7.0,NaN,O,NaN,-,-,2019.0
469070,91156085,1.0,1,Y,M,48.0,B,-,E,L,...,2003.0,HYUN,A,1.0,NaN,H,NaN,-,-,2019.0
469071,91156085,2.0,1,N,M,26.0,B,-,W,L,...,2018.0,MAZD,A,1.0,NaN,H,NaN,-,-,2019.0

In [3]:
# Replace "-" with NaN
parties_df = parties_df.replace(r'-', np.NaN, regex=True)
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,PARTY_DRUG_PHYSICAL,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,...,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,CHP_VEH_TYPE_TOWING,CHP_VEH_TYPE_TOWED,RACE,INATTENTION,SPECIAL_INFO_F,SPECIAL_INFO_G,ACCIDENT_YEAR
0,90655491,1.0,1,Y,M,26.0,B,NaN,S,M,...,2004.0,NISSAN,A,8.0,NaN,H,NaN,NaN,NaN,2018.0
1,90721682,1.0,1,Y,F,30.0,A,NaN,S,L,...,2008.0,HYUN,A,1.0,NaN,B,NaN,NaN,NaN,2018.0
2,90721682,2.0,1,N,F,41.0,A,NaN,S,M,...,2017.0,BMW,A,7.0,NaN,W,NaN,NaN,NaN,2018.0
3,90600484,1.0,1,Y,M,70.0,A,NaN,E,M,...,1998.0,FORD,D,22.0,NaN,B,NaN,NaN,NaN,2017.0
4,90600484,2.0,3,N,NaN,998.0,H,H,W,NaN,...,2015.0,NISS,A,1.0,NaN,NaN,NaN,NaN,NaN,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2.0,1,N,M,33.0,A,NaN,N,M,...,2017.0,NISS,A,7.0,NaN,O,NaN,NaN,NaN,2019.0
469068,91151686,3.0,1,N,M,31.0,A,NaN,N,M,...,2010.0,TOYT,A,1.0,NaN,O,NaN,NaN,NaN,2019.0
469069,91151686,4.0,1,N,M,37.0,A,NaN,N,M,...,2016.0,ACUR,A,7.0,NaN,O,NaN,NaN,NaN,2019.0
469070,91156085,1.0,1,Y,M,48.0,B,NaN,E,L,...,2003.0,HYUN,A,1.0,NaN,H,NaN,NaN,NaN,2019.0
469071,91156085,2.0,1,N,M,26.0,B,NaN,W,L,...,2018.0,MAZD,A,1.0,NaN,H,NaN,NaN,NaN,2019.0

In [4]:
# Inspect the data types in the parties_df DataFrame
parties_df.dtypes

CASE_ID                  object
PARTY_NUMBER            float64
PARTY_TYPE               object
AT_FAULT                 object
PARTY_SEX                object
PARTY_AGE               float64
PARTY_SOBRIETY           object
PARTY_DRUG_PHYSICAL      object
DIR_OF_TRAVEL            object
PARTY_SAFETY_EQUIP_1     object
PARTY_SAFETY_EQUIP_2     object
FINAN_RESPONS            object
SP_INFO_1                object
SP_INFO_2                object
SP_INFO_3                object
OAF_VIOLATION_CODE       object
OAF_VIOL_CAT             object
OAF_VIOL_SECTION        float64
OAF_VIOLATION_SUFFIX     object
OAF_1                    object
OAF_2                    object
PARTY_NUMBER_KILLED     float64
PARTY_NUMBER_INJURED    float64
MOVE_PRE_ACC             object
VEHICLE_YEAR            float64
VEHICLE_MAKE             object
STWD_VEHICLE_TYPE        object
CHP_VEH_TYPE_TOWING     float64
CHP_VEH_TYPE_TOWED      float64
RACE                     object
INATTENTION              object
SPECIAL_INFO_F           object
SPECIAL_INFO_G           object
ACCIDENT_YEAR           float64
dtype: object

In [5]:
# Determine the number of null values in the dataset
parties_df.isnull().sum()

CASE_ID                      0
PARTY_NUMBER             17276
PARTY_TYPE               17458
AT_FAULT                 17276
PARTY_SEX                61783
PARTY_AGE                17276
PARTY_SOBRIETY           28586
PARTY_DRUG_PHYSICAL     400396
DIR_OF_TRAVEL            25193
PARTY_SAFETY_EQUIP_1    103941
PARTY_SAFETY_EQUIP_2    105903
FINAN_RESPONS            42458
SP_INFO_1               468675
SP_INFO_2                78774
SP_INFO_3               468734
OAF_VIOLATION_CODE      469070
OAF_VIOL_CAT            444041
OAF_VIOL_SECTION        444041
OAF_VIOLATION_SUFFIX    460316
OAF_1                    45205
OAF_2                   460487
PARTY_NUMBER_KILLED      17276
PARTY_NUMBER_INJURED     17276
MOVE_PRE_ACC             32019
VEHICLE_YEAR             70845
VEHICLE_MAKE             79506
STWD_VEHICLE_TYPE        45368
CHP_VEH_TYPE_TOWING      47031
CHP_VEH_TYPE_TOWED      464540
RACE                     73814
INATTENTION             466165
SPECIAL_INFO_F          468960
SPECIAL_INFO_G          468979
ACCIDENT_YEAR            17276
dtype: int64

In [6]:
# Remove columns with large number of null values
parties_df = parties_df.drop(columns=["OAF_VIOL_SECTION", "OAF_VIOLATION_SUFFIX", 
                                      "CHP_VEH_TYPE_TOWED", "INATTENTION",
                                     "PARTY_DRUG_PHYSICAL", "SP_INFO_1", 
                                      "SP_INFO_2", "SP_INFO_3", "OAF_VIOLATION_CODE", 
                                      "OAF_VIOL_CAT", "OAF_1", "OAF_2", "CHP_VEH_TYPE_TOWING", 
                                      "SPECIAL_INFO_F", "SPECIAL_INFO_G", "FINAN_RESPONS"])
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,RACE,ACCIDENT_YEAR
0,90655491,1.0,1,Y,M,26.0,B,S,M,G,0.0,1.0,B,2004.0,NISSAN,A,H,2018.0
1,90721682,1.0,1,Y,F,30.0,A,S,L,G,0.0,0.0,B,2008.0,HYUN,A,B,2018.0
2,90721682,2.0,1,N,F,41.0,A,S,M,G,0.0,1.0,B,2017.0,BMW,A,W,2018.0
3,90600484,1.0,1,Y,M,70.0,A,E,M,H,0.0,1.0,B,1998.0,FORD,D,B,2017.0
4,90600484,2.0,3,N,NaN,998.0,H,W,NaN,NaN,0.0,0.0,O,2015.0,NISS,A,NaN,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2.0,1,N,M,33.0,A,N,M,G,0.0,1.0,H,2017.0,NISS,A,O,2019.0
469068,91151686,3.0,1,N,M,31.0,A,N,M,G,0.0,0.0,A,2010.0,TOYT,A,O,2019.0
469069,91151686,4.0,1,N,M,37.0,A,N,M,G,0.0,0.0,A,2016.0,ACUR,A,O,2019.0
469070,91156085,1.0,1,Y,M,48.0,B,E,L,G,0.0,3.0,E,2003.0,HYUN,A,H,2019.0
469071,91156085,2.0,1,N,M,26.0,B,W,L,G,0.0,0.0,B,2018.0,MAZD,A,H,2019.0

In [7]:
# Determine the number of null values in the dataset
parties_df.isnull().sum()

CASE_ID                      0
PARTY_NUMBER             17276
PARTY_TYPE               17458
AT_FAULT                 17276
PARTY_SEX                61783
PARTY_AGE                17276
PARTY_SOBRIETY           28586
DIR_OF_TRAVEL            25193
PARTY_SAFETY_EQUIP_1    103941
PARTY_SAFETY_EQUIP_2    105903
PARTY_NUMBER_KILLED      17276
PARTY_NUMBER_INJURED     17276
MOVE_PRE_ACC             32019
VEHICLE_YEAR             70845
VEHICLE_MAKE             79506
STWD_VEHICLE_TYPE        45368
RACE                     73814
ACCIDENT_YEAR            17276
dtype: int64

In [8]:
# Drop NaN values
parties_df.dropna(inplace=True)
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,RACE,ACCIDENT_YEAR
0,90655491,1.0,1,Y,M,26.0,B,S,M,G,0.0,1.0,B,2004.0,NISSAN,A,H,2018.0
1,90721682,1.0,1,Y,F,30.0,A,S,L,G,0.0,0.0,B,2008.0,HYUN,A,B,2018.0
2,90721682,2.0,1,N,F,41.0,A,S,M,G,0.0,1.0,B,2017.0,BMW,A,W,2018.0
3,90600484,1.0,1,Y,M,70.0,A,E,M,H,0.0,1.0,B,1998.0,FORD,D,B,2017.0
5,90600867,1.0,1,N,M,29.0,C,N,M,G,0.0,2.0,B,2012.0,HONDA,A,B,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2.0,1,N,M,33.0,A,N,M,G,0.0,1.0,H,2017.0,NISS,A,O,2019.0
469068,91151686,3.0,1,N,M,31.0,A,N,M,G,0.0,0.0,A,2010.0,TOYT,A,O,2019.0
469069,91151686,4.0,1,N,M,37.0,A,N,M,G,0.0,0.0,A,2016.0,ACUR,A,O,2019.0
469070,91156085,1.0,1,Y,M,48.0,B,E,L,G,0.0,3.0,E,2003.0,HYUN,A,H,2019.0
469071,91156085,2.0,1,N,M,26.0,B,W,L,G,0.0,0.0,B,2018.0,MAZD,A,H,2019.0

In [9]:
# Change ACCIDENT_YEAR to datetime
parties_df["ACCIDENT_YEAR"] = pd.to_datetime(parties_df["ACCIDENT_YEAR"], format='%Y')
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,RACE,ACCIDENT_YEAR
0,90655491,1.0,1,Y,M,26.0,B,S,M,G,0.0,1.0,B,2004.0,NISSAN,A,H,2018-01-01
1,90721682,1.0,1,Y,F,30.0,A,S,L,G,0.0,0.0,B,2008.0,HYUN,A,B,2018-01-01
2,90721682,2.0,1,N,F,41.0,A,S,M,G,0.0,1.0,B,2017.0,BMW,A,W,2018-01-01
3,90600484,1.0,1,Y,M,70.0,A,E,M,H,0.0,1.0,B,1998.0,FORD,D,B,2017-01-01
5,90600867,1.0,1,N,M,29.0,C,N,M,G,0.0,2.0,B,2012.0,HONDA,A,B,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2.0,1,N,M,33.0,A,N,M,G,0.0,1.0,H,2017.0,NISS,A,O,2019-01-01
469068,91151686,3.0,1,N,M,31.0,A,N,M,G,0.0,0.0,A,2010.0,TOYT,A,O,2019-01-01
469069,91151686,4.0,1,N,M,37.0,A,N,M,G,0.0,0.0,A,2016.0,ACUR,A,O,2019-01-01
469070,91156085,1.0,1,Y,M,48.0,B,E,L,G,0.0,3.0,E,2003.0,HYUN,A,H,2019-01-01
469071,91156085,2.0,1,N,M,26.0,B,W,L,G,0.0,0.0,B,2018.0,MAZD,A,H,2019-01-01

In [10]:
# Get list of column names and data types
parties_df.dtypes

CASE_ID                         object
PARTY_NUMBER                   float64
PARTY_TYPE                      object
AT_FAULT                        object
PARTY_SEX                       object
PARTY_AGE                      float64
PARTY_SOBRIETY                  object
DIR_OF_TRAVEL                   object
PARTY_SAFETY_EQUIP_1            object
PARTY_SAFETY_EQUIP_2            object
PARTY_NUMBER_KILLED            float64
PARTY_NUMBER_INJURED           float64
MOVE_PRE_ACC                    object
VEHICLE_YEAR                   float64
VEHICLE_MAKE                    object
STWD_VEHICLE_TYPE               object
RACE                            object
ACCIDENT_YEAR           datetime64[ns]
dtype: object

In [11]:
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Victims.csv"
victims_df = pd.read_csv(file_loc)
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019

In [12]:
# Replace "-" with NaN
victims_df = victims_df.replace(r'-', np.NaN, regex=True)
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019

In [13]:
# Determine the number of null values in the dataset
victims_df.isnull().sum()

CASE_ID                        0
PARTY_NUMBER                   0
VICTIM_NUMBER                  0
VICTIM_ROLE                    0
VICTIM_SEX                  8457
VICTIM_AGE                     0
VICTIM_DEGREE_OF_INJURY        0
VICTIM_SEATING_POSITION       45
VICTIM_SAFETY_EQUIP_1      29081
VICTIM_SAFETY_EQUIP_2      35941
VICTIM_EJECTED               656
COUNTY                         0
CITY                         311
ACCIDENT_YEAR                  0
dtype: int64

In [14]:
# Drop NaN values
victims_df.dropna(inplace=True)
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019

In [15]:
# Change ACCIDENT_YEAR to datetime
victims_df["ACCIDENT_YEAR"] = pd.to_datetime(victims_df["ACCIDENT_YEAR"], format='%Y')
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018-01-01
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018-01-01
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017-01-01
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017-01-01
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019-01-01
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019-01-01
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019-01-01
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019-01-01
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019-01-01

In [16]:
# Get list of column names and data types
victims_df.dtypes

CASE_ID                             int64
PARTY_NUMBER                        int64
VICTIM_NUMBER                       int64
VICTIM_ROLE                         int64
VICTIM_SEX                         object
VICTIM_AGE                          int64
VICTIM_DEGREE_OF_INJURY             int64
VICTIM_SEATING_POSITION            object
VICTIM_SAFETY_EQUIP_1              object
VICTIM_SAFETY_EQUIP_2              object
VICTIM_EJECTED                     object
COUNTY                             object
CITY                               object
ACCIDENT_YEAR              datetime64[ns]
dtype: object

In [60]:
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Crashes_2017.csv"
crashes_2017_df = pd.read_csv(file_loc)
crashes_2017_df
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Crashes_2018.csv"
crashes_2018_df = pd.read_csv(file_loc)
crashes_2018_df
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Crashes_2019.csv"
crashes_2019_df = pd.read_csv(file_loc)
crashes_2019_df

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (6,7,14,15,17,26,29,30,33,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (0,6,7,14,33) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
0,<<<<<<< HEAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8008506,2019.0,2019-08-16,1942.0,2019-05-29,930.0,27792,1541,3.0,5.0,...,0.0,1.0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.410530,34.164879
2,8008514,2019.0,2019-08-20,1900.0,2019-07-26,600.0,630201,1120,5.0,5.0,...,0.0,0.0,-,-,NaN,NaN,LOS ANGELES,LANCASTER,-118.237228,34.733021
3,80968223,2019.0,2019-04-16,1933.0,2019-04-12,1313.0,959,10,5.0,5.0,...,0.0,0.0,-,-,33.964500,-118.350327,LOS ANGELES,INGLEWOOD,-118.350410,33.964458
4,80968224,2019.0,2019-04-16,1933.0,2019-04-13,2316.0,1013,I30,6.0,5.0,...,0.0,0.0,-,-,33.941830,-118.343933,LOS ANGELES,INGLEWOOD,-118.343941,33.941811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60977,90905403,2019.0,2019-02-01,9535.0,2019-01-01,348.0,022017,NaN,2.0,3.0,...,0.0,0.0,-,-,34.099091,-118.080971,LOS ANGELES,UNINCORPORATED,-118.080933,34.099072
60978,90928226,2019.0,2019-02-18,9530.0,2019-01-01,2300.0,020726,NaN,2.0,3.0,...,0.0,0.0,-,-,33.967400,-118.238197,LOS ANGELES,UNINCORPORATED,-118.238922,33.967396
60979,90937505,2019.0,2019-03-01,9535.0,2019-01-01,405.0,021551,NaN,2.0,3.0,...,0.0,0.0,-,-,33.949791,-118.170532,LOS ANGELES,SOUTH GATE,-118.170502,33.949791
60980,90979889,2019.0,2019-05-01,9535.0,2019-01-01,245.0,021795,NaN,2.0,3.0,...,0.0,0.0,-,-,34.030430,-118.159462,LOS ANGELES,UNINCORPORATED,-118.159470,34.030441
60981,>>>>>>> main,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
crashes_df = pd.concat([crashes_2017_df, crashes_2018_df, crashes_2019_df])
crashes_df

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
0,6292882,2017.0,2019-04-05,1942.0,2017-09-01,2111.0,41396,1675,5.0,5.0,...,0.0,0.0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.367057,34.233771
1,6292886,2017.0,2017-09-26,1972.0,2017-03-02,1132.0,14197,NaN,4.0,5.0,...,0.0,0.0,-,-,NaN,NaN,LOS ANGELES,TORRANCE,-118.317765,33.852275
2,6292887,2017.0,2017-09-26,1942.0,2017-03-31,1940.0,40971,1837,5.0,5.0,...,0.0,0.0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.246310,33.935405
3,6292889,2017.0,2017-09-26,1975.0,2017-04-29,350.0,395,NaN,6.0,5.0,...,0.0,0.0,-,-,NaN,NaN,LOS ANGELES,WEST COVINA,-117.916753,34.056691
4,6292894,2017.0,2019-04-05,1900.0,2017-07-12,1808.0,473596,2612,3.0,5.0,...,1.0,0.0,-,-,NaN,NaN,LOS ANGELES,PALMDALE,-118.187006,34.602898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60977,90905403,2019.0,2019-02-01,9535.0,2019-01-01,348.0,022017,NaN,2.0,3.0,...,0.0,0.0,-,-,34.099091,-118.080971,LOS ANGELES,UNINCORPORATED,-118.080933,34.099072
60978,90928226,2019.0,2019-02-18,9530.0,2019-01-01,2300.0,020726,NaN,2.0,3.0,...,0.0,0.0,-,-,33.967400,-118.238197,LOS ANGELES,UNINCORPORATED,-118.238922,33.967396
60979,90937505,2019.0,2019-03-01,9535.0,2019-01-01,405.0,021551,NaN,2.0,3.0,...,0.0,0.0,-,-,33.949791,-118.170532,LOS ANGELES,SOUTH GATE,-118.170502,33.949791
60980,90979889,2019.0,2019-05-01,9535.0,2019-01-01,245.0,021795,NaN,2.0,3.0,...,0.0,0.0,-,-,34.030430,-118.159462,LOS ANGELES,UNINCORPORATED,-118.159470,34.030441
60981,>>>>>>> main,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Replace "-" with NaN
crashes_df = crashes_df.replace(r'-', np.NaN, regex=True)
crashes_df

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
0,6292882,2017.0,NaN,1942.0,NaN,2111.0,41396,1675,5.0,5.0,...,0.0,0.0,NaN,NaN,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.367057,34.233771
1,6292886,2017.0,NaN,1972.0,NaN,1132.0,14197,NaN,4.0,5.0,...,0.0,0.0,NaN,NaN,NaN,NaN,LOS ANGELES,TORRANCE,-118.317765,33.852275
2,6292887,2017.0,NaN,1942.0,NaN,1940.0,40971,1837,5.0,5.0,...,0.0,0.0,NaN,NaN,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.246310,33.935405
3,6292889,2017.0,NaN,1975.0,NaN,350.0,395,NaN,6.0,5.0,...,0.0,0.0,NaN,NaN,NaN,NaN,LOS ANGELES,WEST COVINA,-117.916753,34.056691
4,6292894,2017.0,NaN,1900.0,NaN,1808.0,473596,2612,3.0,5.0,...,1.0,0.0,NaN,NaN,NaN,NaN,LOS ANGELES,PALMDALE,-118.187006,34.602898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60977,90905403,2019.0,NaN,9535.0,NaN,348.0,022017,NaN,2.0,3.0,...,0.0,0.0,NaN,NaN,34.099091,-118.080971,LOS ANGELES,UNINCORPORATED,-118.080933,34.099072
60978,90928226,2019.0,NaN,9530.0,NaN,2300.0,020726,NaN,2.0,3.0,...,0.0,0.0,NaN,NaN,33.967400,-118.238197,LOS ANGELES,UNINCORPORATED,-118.238922,33.967396
60979,90937505,2019.0,NaN,9535.0,NaN,405.0,021551,NaN,2.0,3.0,...,0.0,0.0,NaN,NaN,33.949791,-118.170532,LOS ANGELES,SOUTH GATE,-118.170502,33.949791
60980,90979889,2019.0,NaN,9535.0,NaN,245.0,021795,NaN,2.0,3.0,...,0.0,0.0,NaN,NaN,34.030430,-118.159462,LOS ANGELES,UNINCORPORATED,-118.159470,34.030441
60981,>>>>>>> main,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# Determine the number of null values in the dataset
crashes_df["PCF_CODE_OF_VIOL"].isnull().sum()

186966

In [64]:
crashes_df = crashes_df.drop(columns=["PROC_DATE", "COLLISION_DATE", 
                                      "LONGITUDE", "LATITUDE", "SECONDARY_RAMP", 
                                      "PRIMARY_RAMP", "ROAD_COND_2", "SPECIAL_COND",
                                     "BEAT_TYPE", "CHP_BEAT_TYPE", "CHP_BEAT_CLASS",
                                     "WEATHER_2", "STATE_HWY_IND","CALTRANS_COUNTY", 
                                     "CALTRANS_DISTRICT", "STATE_ROUTE", "ROUTE_SUFFIX",
                                     "POSTMILE_PREFIX", "POSTMILE", "LOCATION_TYPE",
                                     "RAMP_INTERSECTION", "SIDE_OF_HWY", "PCF_CODE_OF_VIOL",
                                     "CHP_ROAD_TYPE", "DIRECTION", "CITY_DIVISION_LAPD",
                                     "BEAT_NUMBER", "REPORTING_DISTRICT", "PCF_VIOL_SUBSECTION",
                                     "PRIMARY_RD"])
crashes_df

,CASE_ID,ACCIDENT_YEAR,JURIS,COLLISION_TIME,OFFICER_ID,DAY_OF_WEEK,CHP_SHIFT,POPULATION,CNTY_CITY_LOC,SECONDARY_RD,...,COUNT_PED_KILLED,COUNT_PED_INJURED,COUNT_BICYCLIST_KILLED,COUNT_BICYCLIST_INJURED,COUNT_MC_KILLED,COUNT_MC_INJURED,COUNTY,CITY,POINT_X,POINT_Y
0,6292882,2017.0,1942.0,2111.0,41396,5.0,5.0,7.0,1942.0,PENROSE ST,...,1.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,LOS ANGELES,-118.367057,34.233771
1,6292886,2017.0,1972.0,1132.0,14197,4.0,5.0,6.0,1972.0,TOYOTA WY,...,0.0,0.0,1.0,0.0,0.0,0.0,LOS ANGELES,TORRANCE,-118.317765,33.852275
2,6292887,2017.0,1942.0,1940.0,40971,5.0,5.0,7.0,1942.0,110TH ST,...,1.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,LOS ANGELES,-118.246310,33.935405
3,6292889,2017.0,1975.0,350.0,395,6.0,5.0,6.0,1975.0,PORTNER ST,...,0.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,WEST COVINA,-117.916753,34.056691
4,6292894,2017.0,1900.0,1808.0,473596,3.0,5.0,6.0,1950.0,SEVILLE AV,...,0.0,0.0,0.0,0.0,1.0,0.0,LOS ANGELES,PALMDALE,-118.187006,34.602898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60977,90905403,2019.0,9535.0,348.0,022017,2.0,3.0,9.0,1900.0,LA PRESA AVENUE,...,0.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,UNINCORPORATED,-118.080933,34.099072
60978,90928226,2019.0,9530.0,2300.0,020726,2.0,3.0,9.0,1900.0,NADEAU ST.,...,0.0,0.0,0.0,1.0,0.0,0.0,LOS ANGELES,UNINCORPORATED,-118.238922,33.967396
60979,90937505,2019.0,9535.0,405.0,021551,2.0,3.0,5.0,1969.0,FIRESTONE BLVD.,...,0.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,SOUTH GATE,-118.170502,33.949791
60980,90979889,2019.0,9535.0,245.0,021795,2.0,3.0,9.0,1900.0,LA VERNE AVE,...,0.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,UNINCORPORATED,-118.159470,34.030441
60981,>>>>>>> main,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# Determine the number of null values in the dataset
crashes_df.isnull().sum()

CASE_ID                         0
ACCIDENT_YEAR                   3
JURIS                           3
COLLISION_TIME                  3
OFFICER_ID                    180
DAY_OF_WEEK                     3
CHP_SHIFT                       3
POPULATION                      3
CNTY_CITY_LOC                   3
SECONDARY_RD                 3736
DISTANCE                        3
INTERSECTION                  829
WEATHER_1                     426
TOW_AWAY                     1300
COLLISION_SEVERITY              3
NUMBER_KILLED                   3
NUMBER_INJURED                  3
PARTY_COUNT                     3
PRIMARY_COLL_FACTOR           393
PCF_VIOL_CATEGORY             962
PCF_VIOLATION                7289
HIT_AND_RUN                     3
TYPE_OF_COLLISION            2504
MVIW                         1465
PED_ACTION                    470
ROAD_SURFACE                 1360
ROAD_COND_1                  1794
LIGHTING                      628
CONTROL_DEVICE               1517
PEDESTRIAN_ACCIDENT        169808
BICYCLE_ACCIDENT           176325
MOTORCYCLE_ACCIDENT        174087
TRUCK_ACCIDENT             180794
NOT_PRIVATE_PROPERTY            3
ALCOHOL_INVOLVED           171973
STWD_VEHTYPE_AT_FAULT       27197
CHP_VEHTYPE_AT_FAULT        22017
COUNT_SEVERE_INJ                3
COUNT_VISIBLE_INJ               3
COUNT_COMPLAINT_PAIN            3
COUNT_PED_KILLED                3
COUNT_PED_INJURED               3
COUNT_BICYCLIST_KILLED          3
COUNT_BICYCLIST_INJURED         3
COUNT_MC_KILLED                 3
COUNT_MC_INJURED                3
COUNTY                          3
CITY                          212
POINT_X                      4893
POINT_Y                      4893
dtype: int64

In [49]:
crashes_df["PEDESTRIAN_ACCIDENT"].fillna(0, inplace=True)
crashes_df["PEDESTRIAN_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df["BICYCLE_ACCIDENT"].fillna(0, inplace=True)
crashes_df["BICYCLE_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df["MOTORCYCLE_ACCIDENT"].fillna(0, inplace=True)
crashes_df["MOTORCYCLE_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df["TRUCK_ACCIDENT"].fillna(0, inplace=True)
crashes_df["TRUCK_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df["ALCOHOL_INVOLVED"].fillna(0, inplace=True)
crashes_df["ALCOHOL_INVOLVED"].replace("Y", 1,inplace=True)
crashes_df["STWD_VEHTYPE_AT_FAULT"].fillna(0, inplace=True)
crashes_df["CHP_VEHTYPE_AT_FAULT"].fillna(0, inplace=True)

In [50]:
# Determine the number of null values in the dataset
crashes_df.isnull().sum()

CASE_ID                       0
ACCIDENT_YEAR                 3
JURIS                         3
COLLISION_TIME                3
OFFICER_ID                  180
DAY_OF_WEEK                   3
CHP_SHIFT                     3
POPULATION                    3
CNTY_CITY_LOC                 3
SECONDARY_RD               3736
DISTANCE                      3
INTERSECTION                829
WEATHER_1                   426
TOW_AWAY                   1300
COLLISION_SEVERITY            3
NUMBER_KILLED                 3
NUMBER_INJURED                3
PARTY_COUNT                   3
PRIMARY_COLL_FACTOR         393
PCF_VIOL_CATEGORY           962
PCF_VIOLATION              7289
HIT_AND_RUN                   3
TYPE_OF_COLLISION          2504
MVIW                       1465
PED_ACTION                  470
ROAD_SURFACE               1360
ROAD_COND_1                1794
LIGHTING                    628
CONTROL_DEVICE             1517
PEDESTRIAN_ACCIDENT           0
BICYCLE_ACCIDENT              0
MOTORCYCLE_ACCIDENT           0
TRUCK_ACCIDENT                0
NOT_PRIVATE_PROPERTY          3
ALCOHOL_INVOLVED              0
STWD_VEHTYPE_AT_FAULT         0
CHP_VEHTYPE_AT_FAULT          0
COUNT_SEVERE_INJ              3
COUNT_VISIBLE_INJ             3
COUNT_COMPLAINT_PAIN          3
COUNT_PED_KILLED              3
COUNT_PED_INJURED             3
COUNT_BICYCLIST_KILLED        3
COUNT_BICYCLIST_INJURED       3
COUNT_MC_KILLED               3
COUNT_MC_INJURED              3
COUNTY                        3
CITY                        212
POINT_X                    4893
POINT_Y                    4893
dtype: int64

In [51]:
# Drop NaN values
crashes_df.dropna(inplace=True)
crashes_df

,CASE_ID,ACCIDENT_YEAR,JURIS,COLLISION_TIME,OFFICER_ID,DAY_OF_WEEK,CHP_SHIFT,POPULATION,CNTY_CITY_LOC,SECONDARY_RD,...,COUNT_PED_KILLED,COUNT_PED_INJURED,COUNT_BICYCLIST_KILLED,COUNT_BICYCLIST_INJURED,COUNT_MC_KILLED,COUNT_MC_INJURED,COUNTY,CITY,POINT_X,POINT_Y
0,6292882,2017.0,1942.0,2111.0,41396,5.0,5.0,7.0,1942.0,PENROSE ST,...,1.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,LOS ANGELES,-118.367057,34.233771
1,6292886,2017.0,1972.0,1132.0,14197,4.0,5.0,6.0,1972.0,TOYOTA WY,...,0.0,0.0,1.0,0.0,0.0,0.0,LOS ANGELES,TORRANCE,-118.317765,33.852275
2,6292887,2017.0,1942.0,1940.0,40971,5.0,5.0,7.0,1942.0,110TH ST,...,1.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,LOS ANGELES,-118.246310,33.935405
3,6292889,2017.0,1975.0,350.0,395,6.0,5.0,6.0,1975.0,PORTNER ST,...,0.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,WEST COVINA,-117.916753,34.056691
4,6292894,2017.0,1900.0,1808.0,473596,3.0,5.0,6.0,1950.0,SEVILLE AV,...,0.0,0.0,0.0,0.0,1.0,0.0,LOS ANGELES,PALMDALE,-118.187006,34.602898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60976,90905115,2019.0,9535.0,2306.0,022017,2.0,3.0,4.0,1907.0,GAGE AVENUE,...,0.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,BELL,-118.167610,33.976299
60977,90905403,2019.0,9535.0,348.0,022017,2.0,3.0,9.0,1900.0,LA PRESA AVENUE,...,0.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,UNINCORPORATED,-118.080933,34.099072
60978,90928226,2019.0,9530.0,2300.0,020726,2.0,3.0,9.0,1900.0,NADEAU ST.,...,0.0,0.0,0.0,1.0,0.0,0.0,LOS ANGELES,UNINCORPORATED,-118.238922,33.967396
60979,90937505,2019.0,9535.0,405.0,021551,2.0,3.0,5.0,1969.0,FIRESTONE BLVD.,...,0.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,SOUTH GATE,-118.170502,33.949791
60980,90979889,2019.0,9535.0,245.0,021795,2.0,3.0,9.0,1900.0,LA VERNE AVE,...,0.0,0.0,0.0,0.0,0.0,0.0,LOS ANGELES,UNINCORPORATED,-118.159470,34.030441

In [54]:
print(crashes_df.columns)

Index(['CASE_ID', 'ACCIDENT_YEAR', 'JURIS', 'COLLISION_TIME', 'OFFICER_ID',
       'DAY_OF_WEEK', 'CHP_SHIFT', 'POPULATION', 'CNTY_CITY_LOC',
       'SECONDARY_RD', 'DISTANCE', 'INTERSECTION', 'WEATHER_1', 'TOW_AWAY',
       'COLLISION_SEVERITY', 'NUMBER_KILLED', 'NUMBER_INJURED', 'PARTY_COUNT',
       'PRIMARY_COLL_FACTOR', 'PCF_VIOL_CATEGORY', 'PCF_VIOLATION',
       'HIT_AND_RUN', 'TYPE_OF_COLLISION', 'MVIW', 'PED_ACTION',
       'ROAD_SURFACE', 'ROAD_COND_1', 'LIGHTING', 'CONTROL_DEVICE',
       'PEDESTRIAN_ACCIDENT', 'BICYCLE_ACCIDENT', 'MOTORCYCLE_ACCIDENT',
       'TRUCK_ACCIDENT', 'NOT_PRIVATE_PROPERTY', 'ALCOHOL_INVOLVED',
       'STWD_VEHTYPE_AT_FAULT', 'CHP_VEHTYPE_AT_FAULT', 'COUNT_SEVERE_INJ',
       'COUNT_VISIBLE_INJ', 'COUNT_COMPLAINT_PAIN', 'COUNT_PED_KILLED',
       'COUNT_PED_INJURED', 'COUNT_BICYCLIST_KILLED',
       'COUNT_BICYCLIST_INJURED', 'COUNT_MC_KILLED', 'COUNT_MC_INJURED',
       'COUNTY', 'CITY', 'POINT_X', 'POINT_Y'],
      dtype='object')