In [1]:
# Import dependancies
import pandas as pd
import numpy as np

# Cleaning Parties dataset

In [2]:
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Parties.csv"
parties_df = pd.read_csv(file_loc)
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,PARTY_DRUG_PHYSICAL,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,...,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,CHP_VEH_TYPE_TOWING,CHP_VEH_TYPE_TOWED,RACE,INATTENTION,SPECIAL_INFO_F,SPECIAL_INFO_G,ACCIDENT_YEAR
0,90655491,1.0,1,Y,M,26.0,B,-,S,M,...,2004.0,NISSAN,A,8.0,NaN,H,NaN,NaN,NaN,2018.0
1,90721682,1.0,1,Y,F,30.0,A,-,S,L,...,2008.0,HYUN,A,1.0,NaN,B,NaN,-,-,2018.0
2,90721682,2.0,1,N,F,41.0,A,-,S,M,...,2017.0,BMW,A,7.0,NaN,W,NaN,-,-,2018.0
3,90600484,1.0,1,Y,M,70.0,A,-,E,M,...,1998.0,FORD,D,22.0,NaN,B,NaN,-,-,2017.0
4,90600484,2.0,3,N,-,998.0,H,H,W,-,...,2015.0,NISS,A,1.0,NaN,NaN,NaN,-,-,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2.0,1,N,M,33.0,A,-,N,M,...,2017.0,NISS,A,7.0,NaN,O,NaN,-,-,2019.0
469068,91151686,3.0,1,N,M,31.0,A,-,N,M,...,2010.0,TOYT,A,1.0,NaN,O,NaN,-,-,2019.0
469069,91151686,4.0,1,N,M,37.0,A,-,N,M,...,2016.0,ACUR,A,7.0,NaN,O,NaN,-,-,2019.0
469070,91156085,1.0,1,Y,M,48.0,B,-,E,L,...,2003.0,HYUN,A,1.0,NaN,H,NaN,-,-,2019.0
469071,91156085,2.0,1,N,M,26.0,B,-,W,L,...,2018.0,MAZD,A,1.0,NaN,H,NaN,-,-,2019.0

In [3]:
# Replace "-" with NaN
parties_df = parties_df.replace(r'-', np.NaN, regex=True)
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,PARTY_DRUG_PHYSICAL,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,...,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,CHP_VEH_TYPE_TOWING,CHP_VEH_TYPE_TOWED,RACE,INATTENTION,SPECIAL_INFO_F,SPECIAL_INFO_G,ACCIDENT_YEAR
0,90655491,1.0,1,Y,M,26.0,B,NaN,S,M,...,2004.0,NISSAN,A,8.0,NaN,H,NaN,NaN,NaN,2018.0
1,90721682,1.0,1,Y,F,30.0,A,NaN,S,L,...,2008.0,HYUN,A,1.0,NaN,B,NaN,NaN,NaN,2018.0
2,90721682,2.0,1,N,F,41.0,A,NaN,S,M,...,2017.0,BMW,A,7.0,NaN,W,NaN,NaN,NaN,2018.0
3,90600484,1.0,1,Y,M,70.0,A,NaN,E,M,...,1998.0,FORD,D,22.0,NaN,B,NaN,NaN,NaN,2017.0
4,90600484,2.0,3,N,NaN,998.0,H,H,W,NaN,...,2015.0,NISS,A,1.0,NaN,NaN,NaN,NaN,NaN,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2.0,1,N,M,33.0,A,NaN,N,M,...,2017.0,NISS,A,7.0,NaN,O,NaN,NaN,NaN,2019.0
469068,91151686,3.0,1,N,M,31.0,A,NaN,N,M,...,2010.0,TOYT,A,1.0,NaN,O,NaN,NaN,NaN,2019.0
469069,91151686,4.0,1,N,M,37.0,A,NaN,N,M,...,2016.0,ACUR,A,7.0,NaN,O,NaN,NaN,NaN,2019.0
469070,91156085,1.0,1,Y,M,48.0,B,NaN,E,L,...,2003.0,HYUN,A,1.0,NaN,H,NaN,NaN,NaN,2019.0
469071,91156085,2.0,1,N,M,26.0,B,NaN,W,L,...,2018.0,MAZD,A,1.0,NaN,H,NaN,NaN,NaN,2019.0

In [4]:
# Inspect the data types in the parties_df DataFrame
parties_df.dtypes

CASE_ID                  object
PARTY_NUMBER            float64
PARTY_TYPE               object
AT_FAULT                 object
PARTY_SEX                object
PARTY_AGE               float64
PARTY_SOBRIETY           object
PARTY_DRUG_PHYSICAL      object
DIR_OF_TRAVEL            object
PARTY_SAFETY_EQUIP_1     object
PARTY_SAFETY_EQUIP_2     object
FINAN_RESPONS            object
SP_INFO_1                object
SP_INFO_2                object
SP_INFO_3                object
OAF_VIOLATION_CODE       object
OAF_VIOL_CAT             object
OAF_VIOL_SECTION        float64
OAF_VIOLATION_SUFFIX     object
OAF_1                    object
OAF_2                    object
PARTY_NUMBER_KILLED     float64
PARTY_NUMBER_INJURED    float64
MOVE_PRE_ACC             object
VEHICLE_YEAR            float64
VEHICLE_MAKE             object
STWD_VEHICLE_TYPE        object
CHP_VEH_TYPE_TOWING     float64
CHP_VEH_TYPE_TOWED      float64
RACE                     object
INATTENTION              object
SPECIAL_INFO_F           object
SPECIAL_INFO_G           object
ACCIDENT_YEAR           float64
dtype: object

In [5]:
# Determine the number of null values in the dataset
parties_df.isnull().sum()

CASE_ID                      0
PARTY_NUMBER             17276
PARTY_TYPE               17458
AT_FAULT                 17276
PARTY_SEX                61783
PARTY_AGE                17276
PARTY_SOBRIETY           28586
PARTY_DRUG_PHYSICAL     400396
DIR_OF_TRAVEL            25193
PARTY_SAFETY_EQUIP_1    103941
PARTY_SAFETY_EQUIP_2    105903
FINAN_RESPONS            42458
SP_INFO_1               468675
SP_INFO_2                78774
SP_INFO_3               468734
OAF_VIOLATION_CODE      469070
OAF_VIOL_CAT            444041
OAF_VIOL_SECTION        444041
OAF_VIOLATION_SUFFIX    460316
OAF_1                    17276
OAF_2                   460487
PARTY_NUMBER_KILLED      17276
PARTY_NUMBER_INJURED     17276
MOVE_PRE_ACC             32019
VEHICLE_YEAR             70845
VEHICLE_MAKE             79506
STWD_VEHICLE_TYPE        45368
CHP_VEH_TYPE_TOWING      47031
CHP_VEH_TYPE_TOWED      464540
RACE                     73814
INATTENTION             466165
SPECIAL_INFO_F          468960
SPECIAL_INFO_G          468979
ACCIDENT_YEAR            17276
dtype: int64

In [6]:
# Remove columns with large number of null values
parties_df = parties_df.drop(columns=["OAF_VIOL_SECTION", "OAF_VIOLATION_SUFFIX", 
                                      "CHP_VEH_TYPE_TOWED", "INATTENTION",
                                     "PARTY_DRUG_PHYSICAL", "SP_INFO_1", 
                                      "SP_INFO_2", "SP_INFO_3", "OAF_VIOLATION_CODE", 
                                      "OAF_VIOL_CAT", "OAF_2", "CHP_VEH_TYPE_TOWING", 
                                      "SPECIAL_INFO_F", "SPECIAL_INFO_G", "FINAN_RESPONS"])
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,OAF_1,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,RACE,ACCIDENT_YEAR
0,90655491,1.0,1,Y,M,26.0,B,S,M,G,A,0.0,1.0,B,2004.0,NISSAN,A,H,2018.0
1,90721682,1.0,1,Y,F,30.0,A,S,L,G,N,0.0,0.0,B,2008.0,HYUN,A,B,2018.0
2,90721682,2.0,1,N,F,41.0,A,S,M,G,N,0.0,1.0,B,2017.0,BMW,A,W,2018.0
3,90600484,1.0,1,Y,M,70.0,A,E,M,H,A,0.0,1.0,B,1998.0,FORD,D,B,2017.0
4,90600484,2.0,3,N,NaN,998.0,H,W,NaN,NaN,N,0.0,0.0,O,2015.0,NISS,A,NaN,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2.0,1,N,M,33.0,A,N,M,G,N,0.0,1.0,H,2017.0,NISS,A,O,2019.0
469068,91151686,3.0,1,N,M,31.0,A,N,M,G,N,0.0,0.0,A,2010.0,TOYT,A,O,2019.0
469069,91151686,4.0,1,N,M,37.0,A,N,M,G,N,0.0,0.0,A,2016.0,ACUR,A,O,2019.0
469070,91156085,1.0,1,Y,M,48.0,B,E,L,G,A,0.0,3.0,E,2003.0,HYUN,A,H,2019.0
469071,91156085,2.0,1,N,M,26.0,B,W,L,G,A,0.0,0.0,B,2018.0,MAZD,A,H,2019.0

In [7]:
# Determine the number of null values in the dataset
parties_df.isnull().sum()

CASE_ID                      0
PARTY_NUMBER             17276
PARTY_TYPE               17458
AT_FAULT                 17276
PARTY_SEX                61783
PARTY_AGE                17276
PARTY_SOBRIETY           28586
DIR_OF_TRAVEL            25193
PARTY_SAFETY_EQUIP_1    103941
PARTY_SAFETY_EQUIP_2    105903
OAF_1                    17276
PARTY_NUMBER_KILLED      17276
PARTY_NUMBER_INJURED     17276
MOVE_PRE_ACC             32019
VEHICLE_YEAR             70845
VEHICLE_MAKE             79506
STWD_VEHICLE_TYPE        45368
RACE                     73814
ACCIDENT_YEAR            17276
dtype: int64

In [8]:
# Drop NaN values
parties_df.dropna(inplace=True)
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,OAF_1,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,RACE,ACCIDENT_YEAR
0,90655491,1.0,1,Y,M,26.0,B,S,M,G,A,0.0,1.0,B,2004.0,NISSAN,A,H,2018.0
1,90721682,1.0,1,Y,F,30.0,A,S,L,G,N,0.0,0.0,B,2008.0,HYUN,A,B,2018.0
2,90721682,2.0,1,N,F,41.0,A,S,M,G,N,0.0,1.0,B,2017.0,BMW,A,W,2018.0
3,90600484,1.0,1,Y,M,70.0,A,E,M,H,A,0.0,1.0,B,1998.0,FORD,D,B,2017.0
5,90600867,1.0,1,N,M,29.0,C,N,M,G,N,0.0,2.0,B,2012.0,HONDA,A,B,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2.0,1,N,M,33.0,A,N,M,G,N,0.0,1.0,H,2017.0,NISS,A,O,2019.0
469068,91151686,3.0,1,N,M,31.0,A,N,M,G,N,0.0,0.0,A,2010.0,TOYT,A,O,2019.0
469069,91151686,4.0,1,N,M,37.0,A,N,M,G,N,0.0,0.0,A,2016.0,ACUR,A,O,2019.0
469070,91156085,1.0,1,Y,M,48.0,B,E,L,G,A,0.0,3.0,E,2003.0,HYUN,A,H,2019.0
469071,91156085,2.0,1,N,M,26.0,B,W,L,G,A,0.0,0.0,B,2018.0,MAZD,A,H,2019.0

In [9]:
dict_column_datatypes = {"PARTY_NUMBER" : int, "PARTY_AGE" : int, "PARTY_NUMBER_KILLED" : int, 
                         "PARTY_NUMBER_INJURED" : int, "VEHICLE_YEAR" : int}
parties_df = parties_df.astype(dict_column_datatypes)
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,OAF_1,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,RACE,ACCIDENT_YEAR
0,90655491,1,1,Y,M,26,B,S,M,G,A,0,1,B,2004,NISSAN,A,H,2018.0
1,90721682,1,1,Y,F,30,A,S,L,G,N,0,0,B,2008,HYUN,A,B,2018.0
2,90721682,2,1,N,F,41,A,S,M,G,N,0,1,B,2017,BMW,A,W,2018.0
3,90600484,1,1,Y,M,70,A,E,M,H,A,0,1,B,1998,FORD,D,B,2017.0
5,90600867,1,1,N,M,29,C,N,M,G,N,0,2,B,2012,HONDA,A,B,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2,1,N,M,33,A,N,M,G,N,0,1,H,2017,NISS,A,O,2019.0
469068,91151686,3,1,N,M,31,A,N,M,G,N,0,0,A,2010,TOYT,A,O,2019.0
469069,91151686,4,1,N,M,37,A,N,M,G,N,0,0,A,2016,ACUR,A,O,2019.0
469070,91156085,1,1,Y,M,48,B,E,L,G,A,0,3,E,2003,HYUN,A,H,2019.0
469071,91156085,2,1,N,M,26,B,W,L,G,A,0,0,B,2018,MAZD,A,H,2019.0

In [10]:
# Change ACCIDENT_YEAR to datetime
parties_df["ACCIDENT_YEAR"] = pd.to_datetime(parties_df["ACCIDENT_YEAR"], format='%Y')
parties_df["ACCIDENT_YEAR"] = parties_df["ACCIDENT_YEAR"].dt.year
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,OAF_1,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,RACE,ACCIDENT_YEAR
0,90655491,1,1,Y,M,26,B,S,M,G,A,0,1,B,2004,NISSAN,A,H,2018
1,90721682,1,1,Y,F,30,A,S,L,G,N,0,0,B,2008,HYUN,A,B,2018
2,90721682,2,1,N,F,41,A,S,M,G,N,0,1,B,2017,BMW,A,W,2018
3,90600484,1,1,Y,M,70,A,E,M,H,A,0,1,B,1998,FORD,D,B,2017
5,90600867,1,1,N,M,29,C,N,M,G,N,0,2,B,2012,HONDA,A,B,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2,1,N,M,33,A,N,M,G,N,0,1,H,2017,NISS,A,O,2019
469068,91151686,3,1,N,M,31,A,N,M,G,N,0,0,A,2010,TOYT,A,O,2019
469069,91151686,4,1,N,M,37,A,N,M,G,N,0,0,A,2016,ACUR,A,O,2019
469070,91156085,1,1,Y,M,48,B,E,L,G,A,0,3,E,2003,HYUN,A,H,2019
469071,91156085,2,1,N,M,26,B,W,L,G,A,0,0,B,2018,MAZD,A,H,2019

In [11]:
# Get list of column names and data types
parties_df.dtypes

CASE_ID                 object
PARTY_NUMBER             int64
PARTY_TYPE              object
AT_FAULT                object
PARTY_SEX               object
PARTY_AGE                int64
PARTY_SOBRIETY          object
DIR_OF_TRAVEL           object
PARTY_SAFETY_EQUIP_1    object
PARTY_SAFETY_EQUIP_2    object
OAF_1                   object
PARTY_NUMBER_KILLED      int64
PARTY_NUMBER_INJURED     int64
MOVE_PRE_ACC            object
VEHICLE_YEAR             int64
VEHICLE_MAKE            object
STWD_VEHICLE_TYPE       object
RACE                    object
ACCIDENT_YEAR            int64
dtype: object

In [12]:
parties_df["CASE_ID"] = parties_df["CASE_ID"].astype(int)
parties_df.dtypes

CASE_ID                  int64
PARTY_NUMBER             int64
PARTY_TYPE              object
AT_FAULT                object
PARTY_SEX               object
PARTY_AGE                int64
PARTY_SOBRIETY          object
DIR_OF_TRAVEL           object
PARTY_SAFETY_EQUIP_1    object
PARTY_SAFETY_EQUIP_2    object
OAF_1                   object
PARTY_NUMBER_KILLED      int64
PARTY_NUMBER_INJURED     int64
MOVE_PRE_ACC            object
VEHICLE_YEAR             int64
VEHICLE_MAKE            object
STWD_VEHICLE_TYPE       object
RACE                    object
ACCIDENT_YEAR            int64
dtype: object

View parties_df by individual columns to determine the distribution of the data

PARTY_TYPE COLUMN CODING

* 1 - Driver (including Hit and Run)
* 2 - Pedestrian
* 3 - Parked Vehicle
* 4 - Bicyclist
* 5 - Other

In [13]:
parties_df["PARTY_TYPE"].value_counts()

1    312785
4        23
3         6
5         5
2         2
Name: PARTY_TYPE, dtype: int64

PARTY_SOBRIETY COLUMN CODING

* A - Had Not Been Drinking
* B - Had Been Drinking, Under Influence
* C - Had Been Drinking, Not Under Influence
* D - Had Been Drinking, Impairment Unknown
* G - Impairment Unknown
* H - Not Applicable

In [14]:
parties_df["PARTY_SOBRIETY"].value_counts()

A    285779
B      9719
G      7052
H      6849
C      2736
D       686
Name: PARTY_SOBRIETY, dtype: int64

PARTY_SAFETY_EQUIP_1 COLUMN CODING
* A - None in Vehicle
* B - Unknown
* C - Lap Belt Used
* D - Lap Belt Not Used
* E - Shoulder Harness Used
* F - Shoulder Harness Not Used
* G - Lap/Shoulder Harness Used
* H - Lap/Shoulder Harness Not Used
* J - Passive Restraint Used
* K - Passive Restraint Not Used
* L - Air Bag Deployed
* M - Air Bag Not Deployed
* N - Other
* P - Not Required
* Q - Child Restraint in Vehicle Used
* R - Child Restraint in Vehicle Not Used
* S - Child Restraint in Vehicle, Use Unknown
* T - Child Restraint in Vehicle, Improper Use
* U - No Child Restraint in Vehicle
* V - Driver, Motorcycle Helmet Not Used
* W - Driver, Motorcycle Helmet Used
* X - Passenger, Motorcycle Helmet Not Used
* Y - Passenger, Motorcycle Helmet Used

In [15]:
parties_df["PARTY_SAFETY_EQUIP_1"].value_counts()

M    206747
L     94161
P      7281
G      2151
N      1102
B       772
Y       243
C       123
A        64
K        55
U        27
H        26
E        19
D        17
W        17
F         9
V         6
Q         1
Name: PARTY_SAFETY_EQUIP_1, dtype: int64

PARTY_SAFETY_EQUIP_2 COLUMN CODING
* A - None in Vehicle
* B - Unknown
* C - Lap Belt Used
* D - Lap Belt Not Used
* E - Shoulder Harness Used
* F - Shoulder Harness Not Used
* G - Lap/Shoulder Harness Used
* H - Lap/Shoulder Harness Not Used
* J - Passive Restraint Used
* K - Passive Restraint Not Used
* L - Air Bag Deployed
* M - Air Bag Not Deployed
* N - Other
* P - Not Required
* Q - Child Restraint in Vehicle Used
* R - Child Restraint in Vehicle Not Used
* S - Child Restraint in Vehicle, Use Unknown
* T - Child Restraint in Vehicle, Improper Use
* U - No Child Restraint in Vehicle
* V - Driver, Motorcycle Helmet Not Used
* W - Driver, Motorcycle Helmet Used
* X - Passenger, Motorcycle Helmet Not Used
* Y - Passenger, Motorcycle Helmet Used

In [16]:
parties_df["PARTY_SAFETY_EQUIP_2"].value_counts()

G    293932
B      4061
W      3810
C      2645
H      2353
M      1589
L      1244
E      1217
P       425
A       404
F       289
Y       213
N       156
D       154
V       129
Q        87
U        27
S        23
J        22
R        16
K        13
T         7
X         5
Name: PARTY_SAFETY_EQUIP_2, dtype: int64

OAF Column Codes
* A - Violation
* E - Vision Obscurements
* F - Inattention (beginning 1/1/01; see Inattention Item Name near end of record for A-K, P values)
* G - Stop and Go Traffic
* H - Entering/Leaving Ramp
* I - Previous Collision
* J - Unfamiliar With Road
* K - Defective Vehicle Equipment
* L - Uninvolved Vehicle
* M - Other
* N - None Apparent
* O - Runaway Vehicle
* P - Inattention, Cell Phone (1/1/01)
* Q - Inattention, Electronic Equip.(1/1/01)
* R - Inattention, Radio/CD (1/1/01)
* S - Inattention, Smoking (1/1/01)
* T - Inattention, Eating (1/1/01)
* U - Inattention, Children (1/1/01)
* V - Inattention, Animal (1/1/01)
* W - Inattention, Personal Hygiene (1/1/01)
* X - Inattention, Reading (1/1/01)
* Y - Inattention, Other (1/1/01)
* ZZ - Not Stated

In [17]:
parties_df["OAF_1"].value_counts()

N     263365
A      17807
ZZ      9457
G       7809
F       6729
H       2335
E       1826
M       1136
I        783
L        656
O        364
K        321
J        233
Name: OAF_1, dtype: int64

MOVE_PRE_ACC COLUMN CODES

* A - Stopped
* B - Proceeding Straight
* C - Ran Off Road
* D - Making Right Turn
* E - Making Left Turn
* F - Making U-Turn
* G - Backing
* H - Slowing/Stopping
* I - Passing Other Vehicle
* J - Changing Lanes
* K - Parking Maneuver
* L - Entering Traffic
* M - Other Unsafe Turning
* N - Crossed Into Opposing Lane
* O - Parked
* P - Merging
* Q - Traveling Wrong Way
* R - Other

In [18]:
parties_df["MOVE_PRE_ACC"].value_counts()

B    164178
A     53713
E     34363
H     19575
J      9046
D      7917
R      6289
L      4770
M      3859
F      2600
C      1788
G      1506
N       821
I       801
P       496
Q       443
O       396
K       260
Name: MOVE_PRE_ACC, dtype: int64

STWD_VEHICLE_TYPE Column codes
* A - Passenger Car/Station Wagon
* B - Passenger Car with Trailer
* C - Motorcycle/Scooter
* D - Pickup or Panel Truck
* E - Pickup or Panel Truck with Trailer
* F - Truck or Truck Tractor
* G - Truck or Truck Tractor with Trailer
* H - Schoolbus
* I - Other Bus
* J - Emergency Vehicle
* K - Highway Construction Equipment
* L - Bicycle
* M - Other Vehicle
* N - Pedestrian
* O - Moped

In [19]:
parties_df["STWD_VEHICLE_TYPE"].value_counts()

A    272436
D     26453
C      4502
F      3101
G      3007
J      1468
I       850
E       394
H       281
M       157
B       113
L        23
O        18
K        16
N         2
Name: STWD_VEHICLE_TYPE, dtype: int64

RACE Column Codes

* A - Asian 
* O - Other
* B - Black 
* W - White
* H - Hispanic Blank

In [20]:
parties_df["RACE"].value_counts()

H    147389
W     72872
B     38920
O     27716
A     25924
Name: RACE, dtype: int64

In [41]:
# Create column combining both SAFETY_EQUIP columns 
parties_df["SAFETY_EQUIP_USED"] = parties_df["PARTY_SAFETY_EQUIP_1"] + "," + parties_df["PARTY_SAFETY_EQUIP_2"]
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,OAF_1,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,RACE,ACCIDENT_YEAR,SAFETY_EQUIP_USED
0,90655491,1,1,Y,M,26,B,S,M,G,A,0,1,B,2004,NISSAN,A,H,2018,"M,G"
1,90721682,1,1,Y,F,30,A,S,L,G,N,0,0,B,2008,HYUN,A,B,2018,"L,G"
2,90721682,2,1,N,F,41,A,S,M,G,N,0,1,B,2017,BMW,A,W,2018,"M,G"
3,90600484,1,1,Y,M,70,A,E,M,H,A,0,1,B,1998,FORD,D,B,2017,"M,H"
5,90600867,1,1,N,M,29,C,N,M,G,N,0,2,B,2012,HONDA,A,B,2017,"M,G"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2,1,N,M,33,A,N,M,G,N,0,1,H,2017,NISS,A,O,2019,"M,G"
469068,91151686,3,1,N,M,31,A,N,M,G,N,0,0,A,2010,TOYT,A,O,2019,"M,G"
469069,91151686,4,1,N,M,37,A,N,M,G,N,0,0,A,2016,ACUR,A,O,2019,"M,G"
469070,91156085,1,1,Y,M,48,B,E,L,G,A,0,3,E,2003,HYUN,A,H,2019,"L,G"
469071,91156085,2,1,N,M,26,B,W,L,G,A,0,0,B,2018,MAZD,A,H,2019,"L,G"

In [42]:
# Sort new column in alphabetical order to remove duplicate entry types  (M,G vs G,M)
parties_df['SAFETY_EQUIP_USED'] = parties_df['SAFETY_EQUIP_USED'].apply(lambda x: ','.join(sorted(x.split(','))))
parties_df

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,OAF_1,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,RACE,ACCIDENT_YEAR,SAFETY_EQUIP_USED
0,90655491,1,1,Y,M,26,B,S,M,G,A,0,1,B,2004,NISSAN,A,H,2018,"G,M"
1,90721682,1,1,Y,F,30,A,S,L,G,N,0,0,B,2008,HYUN,A,B,2018,"G,L"
2,90721682,2,1,N,F,41,A,S,M,G,N,0,1,B,2017,BMW,A,W,2018,"G,M"
3,90600484,1,1,Y,M,70,A,E,M,H,A,0,1,B,1998,FORD,D,B,2017,"H,M"
5,90600867,1,1,N,M,29,C,N,M,G,N,0,2,B,2012,HONDA,A,B,2017,"G,M"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469067,91151686,2,1,N,M,33,A,N,M,G,N,0,1,H,2017,NISS,A,O,2019,"G,M"
469068,91151686,3,1,N,M,31,A,N,M,G,N,0,0,A,2010,TOYT,A,O,2019,"G,M"
469069,91151686,4,1,N,M,37,A,N,M,G,N,0,0,A,2016,ACUR,A,O,2019,"G,M"
469070,91156085,1,1,Y,M,48,B,E,L,G,A,0,3,E,2003,HYUN,A,H,2019,"G,L"
469071,91156085,2,1,N,M,26,B,W,L,G,A,0,0,B,2018,MAZD,A,H,2019,"G,L"

In [44]:
# Remove seperating comma and view value counts for new column
parties_df["SAFETY_EQUIP_USED"] = parties_df["SAFETY_EQUIP_USED"].str.replace(",","")
pd.set_option('display.max_rows', 200)
parties_df["SAFETY_EQUIP_USED"].value_counts()

GM    201336
GL     90397
PW      3489
GP      3158
BM      2024
CM      1592
BL      1385
HL      1186
HM      1105
CL       980
EM       716
GN       626
EL       489
LM       427
BB       415
MP       290
BG       269
MW       181
BN       173
FM       164
AP       163
NY       149
AM       125
GY       121
FL       116
CP       109
PV       109
BP       101
NW        93
MY        90
DM        85
AL        82
MN        81
LP        74
LY        68
LN        58
GK        56
DL        54
HP        49
CG        48
MQ        45
PP        37
AW        35
LQ        34
AB        28
CN        23
DP        17
EP        17
AG        16
GH        16
MU        16
PY        15
GU        14
LW        13
AN        13
MS        13
PU        12
NP        12
MV        12
HN        11
JL        10
JM        10
KM         9
LS         9
DG         8
MR         8
LU         7
LV         6
BH         6
PQ         6
FN         6
LR         6
FP         6
EN         5
MT         5
BY         5
GW         4
CY         4
BC         4
EG         4
NV         3
PX         3
KL         3
NU         3
CH         3
FG         3
HW         2
DW         2
AC         2
BE         2
GQ         2
AD         2
BW         2
MX         2
VW         2
GV         2
CW         2
GT         1
JP         1
DY         1
UW         1
PR         1
CE         1
EY         1
BS         1
DN         1
GR         1
HY         1
AF         1
FW         1
BU         1
AE         1
BF         1
NQ         1
VY         1
GJ         1
BD         1
LT         1
Name: SAFETY_EQUIP_USED, dtype: int64

# Cleaning Victims dataset

In [21]:
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Victims.csv"
victims_df = pd.read_csv(file_loc)
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019

In [22]:
# Replace "-" with NaN
victims_df = victims_df.replace(r'-', np.NaN, regex=True)
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019

In [23]:
# Determine the number of null values in the dataset
victims_df.isnull().sum()

CASE_ID                        0
PARTY_NUMBER                   0
VICTIM_NUMBER                  0
VICTIM_ROLE                    0
VICTIM_SEX                  8457
VICTIM_AGE                     0
VICTIM_DEGREE_OF_INJURY        0
VICTIM_SEATING_POSITION       45
VICTIM_SAFETY_EQUIP_1      29081
VICTIM_SAFETY_EQUIP_2      35941
VICTIM_EJECTED               656
COUNTY                         0
CITY                         311
ACCIDENT_YEAR                  0
dtype: int64

In [24]:
# Drop NaN values
victims_df.dropna(inplace=True)
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019

In [25]:
# Change ACCIDENT_YEAR to datetime
victims_df["ACCIDENT_YEAR"] = pd.to_datetime(victims_df["ACCIDENT_YEAR"], format='%Y')
victims_df["ACCIDENT_YEAR"] = victims_df["ACCIDENT_YEAR"].dt.year
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019

In [26]:
# Get list of column names and data types
victims_df.dtypes

CASE_ID                     int64
PARTY_NUMBER                int64
VICTIM_NUMBER               int64
VICTIM_ROLE                 int64
VICTIM_SEX                 object
VICTIM_AGE                  int64
VICTIM_DEGREE_OF_INJURY     int64
VICTIM_SEATING_POSITION    object
VICTIM_SAFETY_EQUIP_1      object
VICTIM_SAFETY_EQUIP_2      object
VICTIM_EJECTED             object
COUNTY                     object
CITY                       object
ACCIDENT_YEAR               int64
dtype: object

View victims_df by individual columns to determine data distribution between categories

VICTIM ROLE Column Codes
* 1 - Driver
* 2 - Passenger (includes non-operator on bicycle or any victim on/in parked vehicle or multiple victims on/in non-motor vehicle)
* 3 - Pedestrian
* 4 - Bicyclist
* 5 - Other (single victim on/in non-motor vehicle; e.g. ridden animal, horse-drawn carriage, train, or building)
* 6 - Non-Injured Party

In [27]:
victims_df["VICTIM_ROLE"].value_counts()

1    158365
2    107261
4      3255
3       315
5       315
Name: VICTIM_ROLE, dtype: int64

VICTIM_DEGREE_OF_INJURY Column Codes

* 1 - Killed
* 2 - Severe Injury
* 3 - Other Visible Injury
* 4 - Complaint of Pain
* 5 - Suspected Serious Injury
* 6 - Suspected Minor Injury
* 7 - Possible Injury
* 0 - No Injury

In [28]:
victims_df["VICTIM_DEGREE_OF_INJURY"].value_counts()

4    123823
7     47167
0     39414
3     33973
6     16397
2      4362
5      3118
1      1257
Name: VICTIM_DEGREE_OF_INJURY, dtype: int64

VICTIM_SEATING_POSITION Column Codes
* 1 - Driver
* 2 thru 6 - Passengers
* 7 - Station Wagon Rear
* 8 - Rear Occupant of Truck or Van
* 9 - Position Unknown
* 0 - Other Occupants

In [29]:
victims_df["VICTIM_SEATING_POSITION"].value_counts()

1    160695
3     54987
6     20924
4     15803
5      5769
9      4397
2      3319
0      1519
7      1242
8       856
Name: VICTIM_SEATING_POSITION, dtype: int64

VICTIM_SAFETY_EQUIP_1 Column Code
* A - None in Vehicle
* B - Unknown
* C - Lap Belt Used
* D - Lap Belt Not Used
* E - Shoulder Harness Used
* F - Shoulder Harness Not Used
* G - Lap/Shoulder Harness Used
* H - Lap/Shoulder Harness Not Used
* J - Passive Restraint Used
* K - Passive Restraint Not Used
* L - Air Bag Deployed
* M - Air Bag Not Deployed
* N - Other
* P - Not Required
* Q - Child Restraint in Vehicle Used
* R - Child Restraint in Vehicle Not Used
* S - Child Restraint in Vehicle, Use Unknown
* T - Child Restraint in Vehicle, Improper Use
* U - No Child Restraint in Vehicle
* V - Driver, Motorcycle Helmet Not Used
* W - Driver, Motorcycle Helmet Used
* X - Passenger, Motorcycle Helmet Not Used
* Y - Passenger, Motorcycle Helmet Used

In [30]:
victims_df["VICTIM_SAFETY_EQUIP_1"].value_counts()

M    146050
L     93013
P     26207
G      1847
N      1139
B       354
Y       252
A       214
C       119
Q        97
H        61
W        42
E        20
U        19
V        17
K        13
F        13
D        13
X         7
T         5
J         5
R         4
Name: VICTIM_SAFETY_EQUIP_1, dtype: int64

VICTIM_SAFETY_EQUIP_1 Column Code
* A - None in Vehicle
* B - Unknown
* C - Lap Belt Used
* D - Lap Belt Not Used
* E - Shoulder Harness Used
* F - Shoulder Harness Not Used
* G - Lap/Shoulder Harness Used
* H - Lap/Shoulder Harness Not Used
* J - Passive Restraint Used
* K - Passive Restraint Not Used
* L - Air Bag Deployed
* M - Air Bag Not Deployed
* N - Other
* P - Not Required
* Q - Child Restraint in Vehicle Used
* R - Child Restraint in Vehicle Not Used
* S - Child Restraint in Vehicle, Use Unknown
* T - Child Restraint in Vehicle, Improper Use
* U - No Child Restraint in Vehicle
* V - Driver, Motorcycle Helmet Not Used
* W - Driver, Motorcycle Helmet Used
* X - Passenger, Motorcycle Helmet Not Used
* Y - Passenger, Motorcycle Helmet Used

In [31]:
victims_df["VICTIM_SAFETY_EQUIP_2"].value_counts()

G    228367
W     10685
Q      7999
H      4083
B      3472
V      2816
C      2652
A      1672
M      1486
P      1360
L      1350
E      1210
Y       476
F       467
D       359
U       268
N       197
R       129
S       119
T       113
J       109
X        86
K        36
Name: VICTIM_SAFETY_EQUIP_2, dtype: int64

VICTIM_EJECTED Column Codes
* 0 - Not Ejected
* 1 - Fully Ejected
* 2 - Partially Ejected
* 3 - Unknown

In [32]:
victims_df["VICTIM_EJECTED"].value_counts()

0    250734
1      9412
3      8396
2       969
Name: VICTIM_EJECTED, dtype: int64

In [35]:
# Create column combining both SAFETY_EQUIP columns 
victims_df["SAFETY_EQUIP_USED"] = victims_df["VICTIM_SAFETY_EQUIP_1"] + "," + victims_df["VICTIM_SAFETY_EQUIP_2"]
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR,SAFETY_EQUIP_USED
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018,"M,G"
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018,"M,G"
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017,"M,H"
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017,"M,G"
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017,"M,G"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019,"M,G"
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019,"M,G"
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019,"L,G"
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019,"L,G"
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019,"P,G"

In [36]:
# Sort new column in alphabetical order to remove duplicate entry types  (M,G vs G,M)
victims_df['SAFETY_EQUIP_USED'] = victims_df['SAFETY_EQUIP_USED'].apply(lambda x: ','.join(sorted(x.split(','))))
victims_df

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR,SAFETY_EQUIP_USED
0,90655491,1,1,1,M,26,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2018,"G,M"
1,90721682,2,1,1,F,41,7,1,M,G,0,LOS ANGELES,CULVER CITY,2018,"G,M"
2,90600484,1,1,1,M,70,5,1,M,H,0,LOS ANGELES,UNINCORPORATED,2017,"H,M"
3,90600867,1,1,2,M,30,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2017,"G,M"
4,90600867,1,2,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2017,"G,M"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317938,91149181,1,1,1,M,29,6,1,M,G,0,LOS ANGELES,LOS ANGELES,2019,"G,M"
317939,91151686,2,1,2,F,33,7,3,M,G,0,LOS ANGELES,LOS ANGELES,2019,"G,M"
317940,91156085,1,1,1,M,48,7,1,L,G,0,LOS ANGELES,UNINCORPORATED,2019,"G,L"
317941,91156085,1,2,2,F,998,5,3,L,G,0,LOS ANGELES,UNINCORPORATED,2019,"G,L"
317942,91156085,1,3,2,M,15,5,4,P,G,0,LOS ANGELES,UNINCORPORATED,2019,"G,P"

In [40]:
# Remove seperating comma and view value counts for new column
victims_df["SAFETY_EQUIP_USED"] = victims_df["SAFETY_EQUIP_USED"].str.replace(",","")
pd.set_option('display.max_rows', 150)
victims_df["SAFETY_EQUIP_USED"].value_counts()

GM    134412
GL     86659
PW     10183
GP      8138
MQ      4652
PV      2646
HM      1963
PQ      1802
HL      1708
LQ      1500
BM      1456
BL      1378
CM      1345
AP      1152
CL      1071
LM       664
MP       655
EM       649
EL       532
BP       516
GN       444
AM       421
HP       410
PP       409
PY       286
CP       281
FM       266
MW       264
BG       232
DM       174
FL       162
NY       147
LP       137
NW       131
GY       112
PU       110
NP       107
DL       105
MU       100
MN        95
BN        93
MY        88
GQ        85
AN        79
PX        77
AL        76
LY        74
DP        73
JM        70
LN        66
NV        63
AW        62
MS        62
MR        62
MV        61
LU        55
MT        55
BB        49
AV        41
LW        39
PR        36
LS        34
NQ        33
AG        31
LT        31
FP        31
EP        31
LR        30
CN        30
CG        29
PT        27
GH        26
HN        25
JL        21
PS        21
KM        17
JP        16
AB        14
KP        14
GW        13
BW        12
KL        11
LV         9
GU         8
EN         8
FG         7
GK         7
UW         6
BH         6
DN         6
MX         5
JQ         5
BQ         5
FN         5
BY         5
CY         4
GX         4
BV         4
WY         4
WX         3
CT         3
FW         3
EQ         2
FQ         2
DG         2
BE         2
CU         2
AY         2
DW         2
RV         2
CD         2
NU         2
BC         2
AQ         2
BS         2
DV         2
UV         2
QY         2
AH         2
EY         2
HQ         2
EG         2
NX         1
DY         1
LX         1
QR         1
AC         1
DF         1
GJ         1
DX         1
DQ         1
GR         1
CW         1
UY         1
VX         1
GT         1
AF         1
AD         1
VW         1
HW         1
QW         1
HU         1
EW         1
FV         1
BF         1
DE         1
AR         1
QT         1
JN         1
Name: SAFETY_EQUIP_USED, dtype: int64

# Cleaning Crashes dataset

In [ ]:
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Crashes_2017.csv"
crashes_2017_df = pd.read_csv(file_loc)
crashes_2017_df
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Crashes_2018.csv"
crashes_2018_df = pd.read_csv(file_loc)
crashes_2018_df
# Import csv file from Resource folder to create DataFrame
file_loc = "Resources/Crashes_2019.csv"
crashes_2019_df = pd.read_csv(file_loc)
crashes_2019_df

In [ ]:
crashes_df = pd.concat([crashes_2017_df, crashes_2018_df, crashes_2019_df])
crashes_df

In [ ]:
# Replace "-" with NaN
crashes_df = crashes_df.replace(r'-', np.NaN, regex=True)
crashes_df

In [ ]:
# Determine the number of null values in the dataset
crashes_df["PCF_CODE_OF_VIOL"].isnull().sum()

In [ ]:
crashes_df = crashes_df.drop(columns=["PROC_DATE", "COLLISION_DATE", "DISTANCE", "INTERSECTION",
                                      "LONGITUDE", "LATITUDE", "SECONDARY_RAMP", 
                                      "PRIMARY_RAMP", "ROAD_COND_2", "SPECIAL_COND",
                                     "BEAT_TYPE", "CHP_BEAT_TYPE", "CHP_BEAT_CLASS",
                                     "WEATHER_2", "STATE_HWY_IND","CALTRANS_COUNTY", 
                                     "CALTRANS_DISTRICT", "STATE_ROUTE", "ROUTE_SUFFIX",
                                     "POSTMILE_PREFIX", "POSTMILE", "LOCATION_TYPE",
                                     "RAMP_INTERSECTION", "SIDE_OF_HWY", "PCF_CODE_OF_VIOL",
                                     "CHP_ROAD_TYPE", "DIRECTION", "CITY_DIVISION_LAPD",
                                     "BEAT_NUMBER", "REPORTING_DISTRICT", "PCF_VIOL_SUBSECTION",
                                     "PRIMARY_RD", "JURIS", "OFFICER_ID", "CHP_SHIFT", "POPULATION",
                                     "CNTY_CITY_LOC", "SECONDARY_RD", "COUNTY", "CITY",
                                     "PED_ACTION", "CHP_VEHTYPE_AT_FAULT", "PCF_VIOLATION"])
crashes_df

In [ ]:
# Determine the number of null values in the dataset
crashes_df.isnull().sum()

In [ ]:
crashes_df["PEDESTRIAN_ACCIDENT"].fillna(0, inplace=True)
crashes_df["PEDESTRIAN_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df["BICYCLE_ACCIDENT"].fillna(0, inplace=True)
crashes_df["BICYCLE_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df["MOTORCYCLE_ACCIDENT"].fillna(0, inplace=True)
crashes_df["MOTORCYCLE_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df["TRUCK_ACCIDENT"].fillna(0, inplace=True)
crashes_df["TRUCK_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df["ALCOHOL_INVOLVED"].fillna(0, inplace=True)
crashes_df["ALCOHOL_INVOLVED"].replace("Y", 1,inplace=True)

In [ ]:
# Determine the number of null values in the dataset
crashes_df.isnull().sum()

In [ ]:
# Drop NaN values
crashes_df.dropna(inplace=True)
crashes_df
crashes_df.isnull().sum()

In [ ]:
dict_column_datatypes = {"CASE_ID" : int, "DAY_OF_WEEK" : int, "COLLISION_SEVERITY" : int, "NUMBER_KILLED" : int, 
                         "NUMBER_INJURED" : int, "PARTY_COUNT" : int, "COUNT_SEVERE_INJ" : int,
                         "COUNT_VISIBLE_INJ" : int, "COUNT_COMPLAINT_PAIN" : int, "COUNT_PED_KILLED" : int,
                         "COUNT_PED_INJURED" : int, "COUNT_BICYCLIST_KILLED" : int, "COUNT_BICYCLIST_INJURED" : int, 
                         "COUNT_MC_KILLED" : int, "COUNT_MC_INJURED" : int, "COLLISION_TIME" : int}
crashes_df = crashes_df.astype(dict_column_datatypes)
crashes_df

In [ ]:
# Change ACCIDENT_YEAR to datetime
crashes_df["ACCIDENT_YEAR"] = pd.to_datetime(crashes_df["ACCIDENT_YEAR"], format='%Y')
crashes_df["ACCIDENT_YEAR"] = crashes_df["ACCIDENT_YEAR"].dt.year
crashes_df

In [ ]:
# Add 0 to from of single digit column codes
# crashes_df["PCF_VIOL_CATEGORY"] = crashes_df["PCF_VIOL_CATEGORY"].str.zfill(2)

In [ ]:
# Check for duplicates in CASE_ID
crashes_df.duplicated(subset=["CASE_ID"]).sum()

In [ ]:
# Remove duplicate rows based on CASE_ID
crashes_df = crashes_df.drop_duplicates(subset=["CASE_ID"], keep='last')

In [ ]:
print(crashes_df.columns)

In [ ]:
# Get list of column names and data types
crashes_df.dtypes

Inspect the column data for distribution of data

DAY_OF_WEEK Column Code
* 1 - Monday
* 2 - Tuesday
* 3 - Wednesday
* 4 - Thursday
* 5 - Friday
* 6 - Saturday
* 7 - Sunday

In [ ]:
crashes_df["DAY_OF_WEEK"].value_counts()

WEATHER_1 Column Code
* A - Clear
* B - Cloudy
* C - Raining
* D - Snowing
* E - Fog
* F - Other
* G - Wind

In [ ]:
crashes_df["WEATHER_1"].value_counts()

COLLISION_SEVERITY Column Code
* 1 - Fatal
* 2 - Injury (Severe)
* 3 - Injury (Other Visible)
* 4 - Injury (Complaint of Pain)
* 0 – Property Damage Only (PDO) (PDO crashes not included on TIMS)

In [ ]:
crashes_df["COLLISION_SEVERITY"].value_counts()

PRIMARY_COLL_FACTOR Column Code
* A - (Vehicle) Code Violation
* B - Other Improper Driving
* C - Other Than Driver
* D - Unknown
* E - Fell Asleep

In [ ]:
crashes_df["PRIMARY_COLL_FACTOR"].value_counts()

PCF_VIOL_CATEGORY Column Code
* 01 - Driving or Bicycling Under the Influence of Alcohol or Drug
* 02 - Impeding Traffic
* 03 - Unsafe Speed
* 04 - Following Too Closely
* 05 - Wrong Side of Road
* 06 - Improper Passing
* 07 - Unsafe Lane Change
* 08 - Improper Turning
* 09 - Automobile Right of Way
* 10 - Pedestrian Right of Way
* 11 - Pedestrian Violation
* 12 - Traffic Signals and Signs
* 13 - Hazardous Parking
* 14 - Lights
* 15 - Brakes
* 16 - Other Equipment
* 17 - Other Hazardous Violation
* 18 - Other Than Driver (or Pedestrian)

* 21 - Unsafe Starting or Backing
* 22 - Other Improper Driving
* 23 - Pedestrian or "Other" Under the Influence of Alcohol or Drug
* 24 - Fell Asleep
* 00 - Unknown

In [ ]:
crashes_df["PCF_VIOL_CATEGORY"].value_counts()

TYPE_OF_COLLISION Column Code
* A - Head-On
* B - Sideswipe
* C - Rear End
* D - Broadside
* E - Hit Object
* F - Overturned
* G - Vehicle/Pedestrian
* H - Other

In [ ]:
crashes_df["TYPE_OF_COLLISION"].value_counts()

MVIW (Motor vehicle involved with) Column Code
* A - Non-Collision
* B - Pedestrian
* C - Other Motor Vehicle
* D - Motor Vehicle on Other Roadway
* E - Parked Motor Vehicle
* F - Train
* G - Bicycle
* H - Animal
* I - Fixed Object
* J - Other Object

In [ ]:
crashes_df["MVIW"].value_counts()

ROAD_SURFACE Column Code
* A - Dry
* B - Wet
* C - Snowy or Icy
* D - Slippery (Muddy, Oily, etc.)

In [ ]:
crashes_df["ROAD_SURFACE"].value_counts()

ROAD_COND_1 Column Code
* A - Holes, Deep Ruts
* B - Loose Material on Roadway
* C - Obstruction on Roadway
* D - Construction or Repair Zone
* E - Reduced Roadway Width
* F - Flooded
* G - Other
* H - No Unusual Condition

In [ ]:
crashes_df["ROAD_COND_1"].value_counts()

LIGHTING Column Code
* A - Daylight
* B - Dusk - Dawn
* C - Dark - Street Lights
* D - Dark - No Street Lights
* E - Dark - Street Lights Not Functioning

In [ ]:
crashes_df["LIGHTING"].value_counts()

CONTROL_DEVICE Column Code
* A - Functioning
* B - Not Functioning
* C - Obscured
* D - None

In [ ]:
crashes_df["CONTROL_DEVICE"].value_counts()

STWD_VEHTYPE_AT_FAULT Column codes

* A - Passenger Car/Station Wagon
* B - Passenger Car with Trailer
* C - Motorcycle/Scooter
* D - Pickup or Panel Truck
* E - Pickup or Panel Truck with Trailer
* F - Truck or Truck Tractor
* G - Truck or Truck Tractor with Trailer
* H - Schoolbus
* I - Other Bus
* J - Emergency Vehicle
* K - Highway Construction Equipment
* L - Bicycle
* M - Other Vehicle
* N - Pedestrian
* O - Moped

In [ ]:
crashes_df["STWD_VEHTYPE_AT_FAULT"].value_counts()

In [ ]:
# Export dataframe to CSV file
crashes_df.to_csv('crashes_cleaned.csv', index=False)

Validate that the CASE_ID in crashes_df are in the parties and victims dataframes for database compatibility

In [ ]:
# Create a column validating if the CASE_ID in parties_df is in crashes_df
parties_df["PK_Match"] = parties_df.CASE_ID.isin(crashes_df.CASE_ID)
parties_df

In [ ]:
# Confirm number of non matching rows
parties_df["PK_Match"].value_counts()

In [ ]:
# Drop all rows that do not correspond with a CASE_ID in the crashes_df
parties_df = parties_df[parties_df['PK_Match'] == True]
parties_df

In [ ]:
# Drop column PK_match from parties_df
parties_df = parties_df.drop(columns=["PK_Match"])
parties_df

In [ ]:
# Export dataframe as a CSV
parties_df.to_csv('parties_cleaned.csv', index=False)

In [ ]:
# Create a column validating if the CASE_ID in victims_df is in crashes_df
victims_df["PK_Match"] = victims_df.CASE_ID.isin(crashes_df.CASE_ID)
victims_df

In [ ]:
# Confirm number of non matching rows
victims_df["PK_Match"].value_counts()

In [ ]:
# Drop all rows that do not correspond with a CASE_ID in the crashes_df
victims_df = victims_df[victims_df['PK_Match'] == True]
victims_df

In [ ]:
# Drop PK_Match column from victims_df
victims_df = victims_df.drop(columns=["PK_Match"])
victims_df

In [ ]:
# Export dataframe as a CSV
victims_df.to_csv('victims_cleaned.csv', index=False)